ion-content {
  --background: transparent;
}

ion-header,
ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  --color: white;
}

ion-button {
  --background: transparent;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
}

ion-title {
  padding-inline: 0;
}