:host {
  --ion-background-color: #020617;
  /* slate-950 */
}

ion-content::part(background) {
  background: radial-gradient(circle at top right, #1e293b, #020617);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ion-segment {
  --background: rgba(255, 255, 255, 0.05);
  margin: 0;
  border-radius: 14px !important;

  ion-segment-button {
    --color: rgba(255, 255, 255, 0.5);
    --color-checked: #ffffff;
    --border-radius: 12px;
    margin: 2px;
    min-height: 40px;
    transition: all 0.3s ease;
  }

  &.segmento-primario {
    ion-segment-button.segment-button-checked::part(indicator-background) {
      background: #10f981 !important;
      box-shadow: 0 0 20px rgba(16, 249, 129, 0.3);
    }

    ion-segment-button.segment-button-checked {
      --color-checked: #0f172a;
      font-weight: 900;
    }
  }

  &.segmento-azul {
    ion-segment-button.segment-button-checked::part(indicator-background) {
      background: #3b82f6 !important;
      box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
    }

    ion-segment-button.segment-button-checked {
      --color-checked: #ffffff;
      font-weight: 900;
    }
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

textarea {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-shimmer {
  position: absolute;
  top: -150%;
  left: -150%;
  width: 500%;
  height: 500%;
  background: linear-gradient(45deg,
      transparent 45%,
      rgba(16, 249, 129, 0.15) 50%,
      transparent 55%);
  animation: shimmer-swipe 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  pointer-events: none;
}

.card-shimmer-red {
  background: linear-gradient(45deg,
      transparent 45%,
      rgba(239, 68, 68, 0.25) 50%,
      transparent 55%) !important;
}


@keyframes shimmer-swipe {
  0% {
    transform: translate(-30%, 30%);
  }

  100% {
    transform: translate(30%, -30%);
  }
}