.cinematica-superposicion {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: auto;
  cursor: wait;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  contain: strict;
}

.cinematica-iris {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: black;
  transform: translate3d(-50%, -50%, 0); /* Aceleración GPU */
  pointer-events: none;

  -webkit-mask-image: url('/assets/icon/EcoSmart-icon.png'), linear-gradient(black, black);
  -webkit-mask-position: center, center;
  -webkit-mask-repeat: no-repeat, no-repeat;
  -webkit-mask-size: 100vmax, 100% 100%;
  mask-size: 100vmax, 100% 100%;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  will-change: -webkit-mask-size;
  
  animation: cerrarIrisSombra 0.6s ease-in-out forwards;
}

@keyframes cerrarIrisSombra {
  0% {
    -webkit-mask-size: 100vmax, 100% 100%;
    mask-size: 100vmax, 100% 100%;
  }

  100% {
    -webkit-mask-size: 0vmax, 100% 100%;
    mask-size: 0vmax, 100% 100%;
  }
}

@keyframes sacudirLogo {

  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(-8px) rotate(-16deg);
  }

  50% {
    transform: translateX(8px) rotate(16deg);
  }

  75% {
    transform: translateX(-8px) rotate(-16deg);
  }
}

.anim-shake {
  animation: sacudirLogo 0.3s ease-in-out;
}